.page-levels-index
  %h3 设置级别 
  %table.table.table-striped.table-bordered
    %caption 级别清单
    %button{:type => "button", class: "btn btn-primary btn-lg", :data =>{:toggle => "modal", :target =>"#myModal"}}创建级别
    %thead
      %tr
        %th 级别编号
        %th 级别名
        %th 操作
    %tbody
      - if @levels.blank?
        %tr
          %td{colspan: 3} 没有数据
      - @levels.each do |level|
        %tr
          %td.number= level.number
          %td= level.name
          %td
            .btn-group.btn-group-sm
              %a.btn.btn-default.update-level{href: "#", :id => "#{level.id}", :data =>{:toggle => "modal", :target =>"#myEditModal"}} 
                %i.glyphicon.glyphicon-pencil
                %span 修改
              %a.btn.btn-default{href: "/levels/#{level.id}", data: {confirm: "确认删除吗?", method: :delete}} 
                %i.glyphicon.glyphicon-trash
                %span 删除
  %div{class: "modal fade", :id => "myModal", :tabindex =>"-1", :role => "dialog", :aria => {:labelledby => "myModalLabel"}}
    %div{class: "modal-dialog", :role => "document"}
      %div{class: "modal-content"}
        %div{class: "modal-header"}
          %h4{class: "modal-title", :id => "myModalLabel"}级别创建
        %div{class: "modal-body"}
          = render :partial => "form_level"
        %div{class: "modal-footer"}
          %button{:type => "button", class: "btn btn-default", :data =>{:dismiss => "modal"}}关闭
  %div{class: "modal fade", :id => "myEditModal", :tabindex =>"-1", :role => "dialog", :aria => {:labelledby => "myModalLabel"}}
    %div{class: "modal-dialog", :role => "document"}
      %div{class: "modal-content"}
        %div{class: "modal-header"}
          %h4{class: "modal-title", :id => "myEditModalLabel"}级别信息修改
        .modal-body.form-post-edit{:id => "level-edit"}
        %div{class: "modal-footer"}
          %button{:type => "button", class: "btn btn-default", :data =>{:dismiss => "modal"}}关闭