.page-posts-new
  %div{class: "modal fade", :id => "myModal", :tabindex =>"-1", :role => "dialog", :aria => {:labelledby => "myModalLabel"}}
    %div{class: "modal-dialog", :role => "document"}
      %div{class: "modal-content"}
        %div{class: "modal-header"}
          %h4{class: "modal-title", :id => "myModalLabel"}创建岗位
        %div{class: "modal-body"}
          .page-posts-form-new
            = simple_form_for @post do |f|
              = f.input :number

              = f.input :name

              = f.input :desc

              = f.association :levels, label_method: :name, as: :check_boxes

              = f.association :business_categories, label_method: :name, as: :check_boxes

              = f.button :submit, "提交"
        %div{class: "modal-footer"}
          %button{:type => "button", class: "btn btn-default", :data =>{:dismiss => "modal"}}关闭