= simple_form_for @post do |f|
  = f.input :number

  = f.input :name

  = f.input :desc

  = f.association :levels, label_method: :name, as: :check_boxes
  
  .bsns-ctgr
    = f.association :business_categories, label_method: :name, as: :hidden

  = f.input :business_categories, input_html:{class: "bsns_btn btn btn-primary", type:"button", value:"业务种类"}
  / = f.button :button, type: "button", class: "btn btn-primary","业务种类"

  = f.button :submit, "提交"

.tree.hide
%button{:type =>'button', class: 'btn btn-primary tree-button hide'}确定