.page-posts-index
  %h3 设置岗位
  %button.btn.btn-primary.btn-lg.post-crt{:type => "button", :data =>{:toggle => "modal", :target =>"#modal-dialog"}}创建岗位
  %table.table.table-striped.table-bordered.post-list
    %caption 岗位清单
    %thead
      %tr
        %th 岗位编号
        %th 岗位名与描述
        %th 对应级别
        %th 对应业务类别
        %th 操作
    %tbody
      - if @posts.blank?
        %tr
          %td{colspan: 3} 没有数据
      - @posts.each do |post|
        %tr.post
          %td.number= post.number
          %td
            .name= post.name
            .desc= post.desc
          %td
            - post.levels.each do |level|
              .level= level.name
          %td
            %span= post.business_categories.count
            %span 类
          %td
            .btn-group.btn-group-sm
              %a.btn.btn-default.update-post{href: "#", :data =>{:toggle => "modal", :target =>"#modal-dialog", :post_id => "#{post.id}"}}
                %i.glyphicon.glyphicon-pencil
                %span 修改
              %a.btn.btn-default{href: "/posts/#{post.id}", :data => {confirm: "确认删除吗?", method: :delete}}
                %i.glyphicon.glyphicon-trash
                %span 删除

= render_cell :"bank_train/modal", :show
